@import '../../styles/variables.scss';

.button {
  display: inline-block;
  position: relative;

  &--btn {
    border-radius: 2px;
    box-shadow: none;
    cursor: pointer;
    padding: $space*0.66;
  }

  &--outline {
    background-color: transparent;
    border-color: $blue-light;
    color: $blue-light;

    &:hover {
      background-color: $blue;
      border-color: $blue;
      color: $white;
    }
  }

  &--solid {
    background-color: $blue;
    border-color: $blue;
    color: $white;
  }

  &--with-icon {
    padding-right: $space;
    padding-left: $space*2.2;
  }

  &--icon {
    left: 10px;
    opacity: 0.75;
    stroke-width: 0.5;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}
