@import '../../styles/variables.scss';

.event-form {
  margin-top: $space*3;
  display: flex;

  &--main {
    padding: $space*2;
    margin-right: $space*3;
    background-color: $white;
    border-radius: 2px;
    width: 60%;
  }

  &--side {
    background-color: $white;
    border-radius: 2px;
    height: 100%;
    padding: $space*2;
    width: 35%;
  }

  &--line {
    align-items: flex-end;
    display: flex;
    flex-wrap: wrap;

    &--item {
      display: inline-block;
      margin-bottom: $space*2;
      padding-right: $space;
      width: 100%;

      &:last-child {
        padding-right: 0;
      }
    }

    & .summary-message {
      display: flex;
      align-items: center;
      padding-left: 10px;

      span {
        color: $grey-text;
        font-size: $font-size-14;
        padding-left: 10px;
      }
    }

  }

}
