@import 'variables.scss';

body {
  background-color: $white-tint;
}

.content {
  &--page {
    margin-left: $sidebar-width;
    margin-right: $aside-width;
    margin-top: $sidebar-width;
    background-color: $grey-blue;
    height: 100vh;
  }
}
