@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.select {
  position: relative;

  &--label {
    @include form-label;
  }

  &--combobox {
    position: relative;
    margin-top: $space*0.8;
    outline: none;
    padding: $space*0.9;
    border: solid 1px $grey-light;
    border-radius: 4px;
    overflow: hidden;
    &:focus {
      border-color: $blue;
    }

    &:after {
      content: url('../../static/chevron.svg');
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 2px;
      position: absolute;
      background-color: $white-tint;
      border-left: solid 1px $grey-light;
      right: 0;
      top: 0;
      width: 45px;
      height: 100%;
    }
  }

  &--listbox {
    padding-bottom: 0;
    border-radius: 4px;
    display: none;
    position: absolute;
    background-color: $white;
    border: solid 1px $grey-light;
    border-radius: 4px;
    z-index: 1;
    left: -$space;
    top: 105%;
    width: 100%;
    overflow: hidden;
    box-shadow: 0 2px 15px -4px $black;

    &.open {
      display: inline-block;
    }
  }

  &--option {
    padding: $space;

    &.selected {
      background-color: $blue-background;
    }

    &:hover, &:focus {
      background-color: $blue;
      color: $white;
    }


  }


}
