@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.text-input {
  display: inline-block;
  width: 100%;
  position: relative;

  & label {
    @include form-label;
  }

  & input {
    background-color: transparent;
    font-size: $font-size-16;
    margin-top: $space*0.8;
    padding: $space*0.9;
    width: 100%;

    &:focus {
      outline: none;
    }
  }

  &-outline {
    & input {
      border: solid 1px $grey-light;
      border-radius: 4px;

      &:focus {
        border-radius: 4px;
        border: solid 1px $blue;
      }
    }

  }

  &-no-outline {
    & input {
      border: none;
      border-bottom: solid 1px transparent;

      &:focus {
        border-bottom: solid 1px $blue;
      }

      &.withIcon {
        padding-left: $space*2;
      }

    }
  }

  &--icon {
    position: absolute;
    width: 16px;
    left: 0;
    top: 62%;
    transform: translateY(-50%);
  }

  &--button {
    position: absolute;
    right: 10px;
    top: 70%;
    transform: translateY(-50%);
  }

  ::placeholder {
    color: $grey-text;
  }
}
