@import '../../styles/variables.scss';


.date-input {
  display: flex;
  flex-direction: column;

  &--label {
    color: $grey-text;
    font-size: $font-size-11;
    text-transform: uppercase;
    padding-left: 2px;
  }

  & .SingleDatePicker {
    margin-top: $space*0.8;
    color: $black !important;

    &Input {
      display: flex;

      &__withBorder {
        border-color: $grey-light;
      }

      &_calendarIcon {
        background-color: $white-tint;
        border-left: solid 1px $grey-light;
        margin: 0;
        padding: 10px 15px;
      }

      &_calendarIcon_svg {
        fill: $blue;
      }
    }
  }

  & .DateInput {
    width: 80%;

    &_input {
      color: $black !important;
      font-family: inherit !important;
      font-size: inherit !important;
      ::placeholder {
        color: $grey-text;
      }

      &__focused {
        border-color: transparent;
      }
    }
  }

  &.focused
  .SingleDatePickerInput__withBorder {
    border-color: $blue;
  }
}
