@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.number-input {
  display: inline-block;
  width: 100%;
  position: relative;

  & label {
    @include form-label;
  }

  & input {

    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    appearance: textfield;
    background-color: transparent;
    border: solid 1px $grey-light;
    border-radius: 4px;
    font-size: $font-size-16;
    margin-top: $space*0.8;
    padding: $space*0.9;
    width: 100%;

    &::-webkit-inner-spin-button,
    &::-webkit-outter-spin-button {
      -webkit-appearance: none;
    }

    &:focus {
      outline: none;
      border-radius: 4px;
      border: solid 1px $blue;
    }
  }

  &--buttons {
    position: absolute;
    bottom: 0px;
    right: 1px;
    width: 40px;
    display: flex;
    flex-direction: column;
    height: 46px;
    border-radius: 0 4px 4px 0;
    overflow: hidden;
    z-index: 1;

    & button {
      background-color: $white-tint;
      height: 49%;
      z-index: 0;
      border-color: $grey-light;
      border-right: 0;
      border-top: 0;
      border-bottom: 0;

      &.up {
        border-radius: 0 4px 0 0;
      }

      &.down {
        border-top: solid 1px $grey-light;
        border-radius: 0 0 4px 0;
      }

      &:active {
        border-color: $grey-light;
        border: solid 1px $grey-light;
      }
    }

  }

}
