@import '../../styles/variables.scss';

.upload-card {
  margin: $space*3 0;

  &--file-size {
    color: $grey-text;
    font-size: $font-size-14;
    margin: $space 0;
  }

  &--unit {
    text-transform: uppercase;
    font-size: $font-size-11;
  }

  &--file-name {
    margin: $space 0;
  }

  &--link {
    &.incomplete {
      color: $grey-light;
      a {
        cursor: not-allowed;
      }
    }
    color: $blue-light;
    font-weight: 700;
    font-size: $font-size-11;

    a {
      cursor: pointer;
      text-decoration: none;
    }
  }
}
